/*For testing*/

body{
	margin: 10px;
}

/*For implementation*/

table{
	border-radius: 10px;
	/*overflow: auto;*/
}
.findInput1{
	border: 0px;
	border-radius: 4px;
	border-bottom: 1px solid black;
	width: 30px;
}
.findInput2{
	border: 0px;
	border-radius: 4px;
	border-bottom: 1px solid black;
	width: 120px;
}
.customRadio{
	
}
.customRadioFill{
	position: absolute;
}
.mark{
	margin-left: 10px;
	height: 40px;
}
.checkMark{
	position: absolute;
	opacity: 0;
}
.errorMark{
	position: absolute;
	opacity: 0;
}
.cellContent{
	margin-left: auto;
	margin-right: auto;
	display: table;
}

.popover {
	width: 1000px;
}

#submit1{
	float: left;
}
#mainAlert{
	float: right;
	opacity: 0.5;
}
#mainSuccess{
	float: right;
	opacity: 0.5;
}
.plusButton{
	color: white;
	width: 50px;
	/*font-size: 20pt;*/
}
.col0{
	width: 200px;
}
.delete{
	opacity: 0;
}
td{
	min-width: 300px;
	max-width: 520px;
}