/*For testing*/

body{
	margin: 10px;
}

/*For implementation*/

.JUnitTable1Prod table{
	border-radius: 10px;
	margin: 0px;
	/*overflow: auto;*/
}
.JUnitTable1Prod #inputs{
	font-size: 16pt;
	font-weight: bolder;
	vertical-align: middle;
}
.JUnitTable1Prod .inputField1{
	font-size: 12pt;
	border: 0px;
	border-radius: 4px;
	border-bottom: 1px solid black;
	width: 30px;
}
.JUnitTable1Prod .inputField2{
	font-size: 12pt;
	border: 0px;
	border-radius: 4px;
	border-bottom: 1px solid black;
	width: 60px;
}
.JUnitTable1Prod .customRadio{
	
}
.JUnitTable1Prod .customRadioFill{
	position: absolute;
	
}
.JUnitTable1Prod .customRadioFillMini{
	position: absolute;
}
.JUnitTable1Prod .mark{
	margin-left: 10px;
	height: 40px;
}
.JUnitTable1Prod .relative{
	position: relative;
}
.JUnitTable1Prod .checkMark{
	position: absolute;
	opacity: 0;
}
.JUnitTable1Prod .errorMark{
	position: absolute;
	opacity: 0;
}
.JUnitTable1Prod .cellContent{
	margin-left: auto;
	margin-right: auto;
	display: table;
}
.JUnitTable1Prod .cellContentMini{
	margin-top: 2px;
}
.JUnitTable1Prod #submit1{
	margin: 4px;
}
.JUnitTable1Prod #mainAlert{
	float: right;
	opacity: 0;
}
.JUnitTable1Prod #mainSuccess{
	float: right;
	opacity: 0;
}
.JUnitTable1Prod .plusButton{
	color: white;
	/*font-size: 20pt;*/
}
.JUnitTable1Prod .delete{
	font-size: 20px;
	opacity: 0;
	margin-left: 10px;
}
.JUnitTable1Prod td{
	white-space: nowrap;
	text-align: center;
	vertical-align: middle;
}
.JUnitTable1Prod #tablePartitions{
	width: 200px;
	float: left;
	margin: 0px;
}
.JUnitTable1Prod #tableContentCont{
	border-right: 6px solid grey;
	overflow: auto;
	float: left;
}
.JUnitTable1Prod #tableContent{
	margin: 0px;
}
.JUnitTable1Prod .col0{

}
.JUnitTable1Prod #infoDiv{
	/*float: left;*/
	width: 450px;
	overflow: auto;
	margin: 0px;
	/*white-space: nowrap;*/
}
.JUnitTable1Prod .subLabel{
	min-width: 92px;
}
.JUnitTable1Prod .testCases{
	border-radius: 5px;

}
.JUnitTable1Prod .testCases b{

}
.JUnitTable1Prod #mainDivPartition{
	height: 43px;
	width: 100%;
	background-color: #f2f7f6;
}
.JUnitTable1Prod .icon-arrow-down{
	margin-left: 3px;
}
.JUnitTable1Prod .impossibleText{
	margin-left: 10px;
	display: inherit;
}
.JUnitTable1Prod .markImpossible{
	margin-left: 42px;
	margin-bottom: 5px;
}
.JUnitTable1Prod .customRadioBorderMini .customRadioMini{
	margin-top: 8px;
}
.JUnitTable1Prod .customRadioFillMini .customRadioFillMini{
	margin-top: 10px;
	margin-left: 2px;
}