/*For testing*/

/*body{
	margin: 10px;
}*/

/*For implementation*/
.JUnitTable2 table{
	border-radius: 10px;
	overflow: auto;
}
.JUnitTable2 input{
	border: 0px;
	border-radius: 4px;
	border-bottom: 1px solid black;
	width: 30px;
}
.JUnitTable2 .customRadioBorder{
	position: relative;
}
.JUnitTable2 .customRadioFill{
	position: absolute;
	
}
.JUnitTable2 .relative{
	position: relative;
}
.JUnitTable2 .mark{
	margin-left: 10px;
	height: 40px;
	position: relative;
}
.JUnitTable2 .checkMark{
	position: absolute;
	opacity: 0;
}
.JUnitTable2 .errorMark{
	position: absolute;
	opacity: 0;
}
.JUnitTable2 .cellContent{
	margin-left: auto;
	margin-right: auto;
	display: table;
}

.JUnitTable2 .popover {
	width: 1000px;
}

.JUnitTable2 #submit1{
}
.JUnitTable2 #mainAlert{
	float: right;
	opacity: 0.5;
}
.JUnitTable2 #mainSuccess{
	float: right;
	opacity: 0.5;
}
.JUnitTable2 #tableFixed{
	border-left: 6px solid grey;
	border-top: 6px solid grey;
	border-bottom: 6px solid grey;
	width: 420px;
	float: left;
	margin: 0px;
}
.JUnitTable2 #tableContentDiv{
	border-right: 6px solid grey;
	border-top: 6px solid grey;
	border-bottom: 6px solid grey;

	overflow: auto;
	float: left;
}
.JUnitTable2 #tableContent{
	margin: 0px;
}
.JUnitTable2 .plusButton{
	color: white;
	width: 60px;
	/*font-size: 20pt;*/
}
.JUnitTable2 .col0{
	width: 200px;
}
.JUnitTable2 .delete{
	opacity: 0;
}
.JUnitTable2 td{
	white-space: nowrap;
	text-align: center;
	vertical-align: middle;
	height: 60;
	min-width: 300px;
	max-width: 520px;
}