/*For testing*/

body{
	margin: 10px;
}

/*For implementation*/

.JUnitTable1{
	border-radius: 10px;
}
.findInput1{
	border: 0px;
	border-radius: 4px;
	border-bottom: 1px solid black;
	width: 30px;
}
.findInput2{
	border: 0px;
	border-radius: 4px;
	border-bottom: 1px solid black;
	width: 120px;
}
.customRadio{
	
}
.customRadioFill{
	position: absolute;
}
.mark{
	margin-left: 10px;
	height: 40px;
}
.checkMark{
	position: absolute;
	opacity: 0;
}
.errorMark{
	position: absolute;
	opacity: 0;
}
.cellContent{
	margin-left: auto;
	margin-right: auto;
	display: block;
	opacity: 0;
}

.popover {
	width: 1000px;

}
	display: table;
}
