.JUnitTable1{
	margin-top: 5px;
}
.JUnitTable1Prod{
	margin-top: 10px;
}
.tableHeader{
	display: inline-block;
}
.help{
	font-size: 12pt;
	margin: 0 0 10 10;
	display: inline-block;
	vertical-align: middle;
}
legend .popover{
	max-width: 500px;
}
legend .popover-content{
	font-size: 12pt;
	max-width: 500px;
}
.modal-body img{
	width: 98%;
	border: 3px solid grey;
	border-radius: 5px;
}
